@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
button{
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: blueviolet !important;
    color: aliceblue !important;
}
body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 5px;
}
.controlles{
    position: fixed;
    bottom: 15px;
    text-align: center;
    margin: 0 auto;
}
.controlles a{
    cursor: pointer;
    font-size: 28px;
    margin:10px;
    border: 1px solid lightblue;
    padding: 2px;
    border-radius: 90px;
}
.controlles a:hover{
background-color: lightblue !important;
} 